html {
  	background: url("./Fondo.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#banner {
	
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 10px; 
	overflow: hidden; 
	width: 60%;
	color: rgba(255,255,255,0.5);
    font-weight: bold;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 40px;
	text-align: center;
	text-shadow: -1px 0 grey, 0 1px grey,1px 0 grey, 0 -1px grey;
	background:-webkit-gradient(radial, 187 89, 114, 220 -257, 465, from(rgba(0,0,0,0.75)), to(rgba(0,0,0,0.25)));
	border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 5px solid #5878ca;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
   
}

#prueba {
	height: auto;
	width: 75px;
	border: 3px solid;
	border-color: blue;
	font-family: Impact;
}

.mensaje_cargado {
	border: 3px solid grey;
	border-radius: 5px;
	background-color: #C8E8FF;
	padding: 3px;
	width: 65%;
	margin: 0 auto;
	border-radius: 15px;
}

#avatar {
	border: 2px solid grey;
	margin: 5px 15px 0 15px ;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;
}

.titulo, .cerrar, .contenido, .fecha{
	display: none;
}

#wrapper nav {
	display:none;
}

#botonPerfil {
	display:block;
	margin-left: 22.5px;
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
 text-decoration: none;
}
#botonPerfil:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 0px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}
#botonPerfil:hover {
 background: rgba(255,255,255,0.75);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}

.menu-fixed img, .menu-fixed #banner{
	display: none;
}
.menu-fixed #botonPerfil {
	position: fixed;
	display: inline;
	z-index:1000;
	height: 5%;
	top: 0;
	margin: 0 auto;
	width:100%;
	vertical-align: top;
	padding: 0.2em 0.5em;

 	/*margin: 1em 25%;*/
}
#mensajesNoLeidos {
	display: none;
}
#mensajesNoLeidos #mensajeInfo {
	display:none;
	padding: 5px;
	margin: 0 auto;
	margin-bottom: 10px; 
	overflow: hidden; 
	width: 60%;
	color: rgba(255,255,255,0.5);
    font-weight: bold;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 16px;
	text-align: center;
	text-shadow: -1px 0 grey, 0 1px grey,1px 0 grey, 0 -1px grey;
	background:-webkit-gradient(radial, 187 89, 114, 220 -257, 465, from(rgba(0,0,0,0.75)), to(rgba(0,0,0,0.25)));
	border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 5px solid #5878ca;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
#mensajesNoLeidos_cargados {
	display:none;
}
.mensaje_cargadoSinLeer {
	display:block;
	border: 3px solid grey;
	border-radius: 5px;
	background-color: #C8E8FF;
	padding: 3px;
	width: 65%;
	margin: 0 auto;
	border-radius: 15px;
}
button a {
	text-decoration: none;
	color: #f2f2f2;
}