html {
  background: url("./Fondo.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#prueba {
	height: auto;
	width: 75px;
	border: 3px solid;
	border-color: blue;
	font-family: Impact;
}

.mensaje_cargado {
	border: 3px solid grey;
	border-radius: 5px;
	background-color: #C8E8FF;
	padding: 3px;
}

#avatar {
	border: 2px solid grey;
	margin: 0;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;
}

.titulo{
	display: none;
}

.cerrar {
	display: none;
}

#botonPerfil {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
#botonPerfil:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 0px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}
#botonPerfil:hover {
 background: rgba(255,255,255,0.75);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}

